%h1 Listing forums

%table
  %thead
    %tr
      %th Title
      %th Content
      %th
      %th
      %th

  %tbody
    - @forums.each do |forum|
      %tr
        %td= forum.title
        %td= forum.content
        %td= link_to 'Show', forum
        %td= link_to 'Edit', edit_forum_path(forum)
        %td= link_to 'Destroy', forum, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Forum', new_forum_path
